header{
    max-width: 1200px;
    width: 100%;
    margin:auto;
    
    height: 150px;
    justify-content: space-between;
    align-items: center;
}
header nav{
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
}
header ul{
    
    display: flex;
    justify-content: space-between;
}
header ul li{
    
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
header ul li a{
    text-decoration: none;
    color: var(--cor-primaria);
}
