header nav, 
header nav ul, #produtos{
 flex-wrap: wrap;   

}

/************celular***********/

@media(max-width:430px){
    body{
        width: 100%;
        margin: 0px;
        margin:auto;
        padding: 0px;
       
    }
    header{
        width: 100%;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        padding: 0;
        height: auto;

    }
    header nav{
        width: 100%;
        position: relative;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
         
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    header nav ul li{
        padding: 0;
        padding-top: 20px;
    }

    header nav img{
        margin-top: 50px;
        display: flex;;
        
    }
    /* PAGINA Index*/
    .home_main{
        margin: auto;
        padding: 20px;
    }

    .main_foot{
        width: 100%;
        margin:0;
        padding: 0;
    }
    /*PAGINA CONTATO*/
    .contato_main{
        width: 100%;
        margin: 0px;
        padding: 0px;
        color:var(--cor-terciaria);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
    }
    .dados_contato{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .mobile{
        display: none;
    }
    .dados_contato p{
        font-size: 1em;
        
    }
   
   
}




/**********tablet*************/
@media(max-width:768px){
  
    .oculos{
        display: none;
    }
 
    header nav{
        margin:0px;
        margin: auto;
   
    }
    .dados_contato p{
        font-size: 1em;
        
    }
    /*PAGINA CONTATO*/
    .contato_main{
        width: 100%;
    }
    .form_contato input,
    .form_contato label,
    .form_contato textarea{
    width:263px;
    }
    .form_contato button{
        padding: 0px;
        margin-left: -140px;
    }

}

/**********padrao*************/
