header nav, 
header nav ul, #produtos{
 flex-wrap: wrap;   

}

/************celular***********/

@media(max-width:400px){
    body{
        width: 100%;
        margin: 0px;
        margin:auto;
        padding: 0px;
       
    }
    header{
        width: 100%;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        padding: 0;
        height: auto;

    }
    header nav{
        width: 100%;
        position: relative;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
         
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    header nav ul li{
        padding: 0;
        padding-top: 20px;
    }

    header nav img{
        margin-top: 50px;
        display: flex;;
        
    }
  
    .home_main{
        margin: auto;
        padding: 20px;
    }

    .main_foot{
        max-width: 100%;
    }
    

}


/**********tablet*************/
@media(max-width:768px){
  
    .oculos{
        display: none;
    }
 
    header nav{
        margin:0px;
        margin: auto;
   
    }
}

/**********padrao*************/
@media(max-width:1200px){
  

 
    header{
        padding:0px 0px;
        margin: auto;
   
    }
    header nav{
        padding:0px 50px;
    }
}